* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.flex-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    border:1px solid black;
}

.line {
    display: flex;
    flex-direction: row;
}

.tile {
    width: 60px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.black-tile {
    border: 2px solid #836953;
    background-color: #836953;
}

.white-tile {
    border: 2px solid #ebe7da;
    background-color: #ebe7da;
}

.piece {
    width: 65px;
    height: 65px;
}

.highlighted {
    border: 2px solid lime;
}

.highlighted.hovering {
    border: 2px solid blue;
}

.tile.selected {
    border: 2px solid orange;
}

